{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <p class="card-category"> Number of Employees</p>
            <h3 class="card-title">100
              <small>employees</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">add</i>
              <a href="#">Add new</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">thumb_up</i>
            </div>
            <p class="card-category">Health Concious</p>
            <h3 class="card-title">25
              <small>employees</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">Health Unconcious</p>
            <h3 class="card-title">75
              <small>employees</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> Tracked from sensor data
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Everyday Stats</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 25% </span> increase in today's health data.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 20 minutes ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Health Concious vs Unconcious</h4>
            <p class="card-category">Monthwise visualization</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> 28 days ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Diabetes Data</h4>
            <!-- <p class="card-category"></p> -->
          </div>
          <!-- <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div> -->
        </div>
      </div>
    </div>
    
    <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Employees Stats</h4>
            <p class="card-category">Data Values of Recent Employees</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>ID</th>
                <th>Name</th>
                <th>Body Temperature</th>
                <th>Glucose</th>
                <th>Blood Pressure</th>
                <th>Oxygen Saturation</th>
                <th>Respiration Rate</th>
                <th>Heartbeat Rate</th>
              </thead>
              <tbody>
                {% for employee in recent_employees %}

                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{employee.first_name}} {{employee.last_name}}</td>

                    {% for bt in employee.bt %}
                    <td>{{bt.btdata}}</td>
                    {% endfor %}
                    {% for bs in employee.bs %}
                    <td>{{bs.bsdata}}</td>
                    {% endfor %}
                    {% for bp in employee.bp %}
                    <td>{{bp.bpdata}}</td>
                    {% endfor %}
                    {% for bo in employee.bo %}
                    <td>{{bo.bodata}}</td>
                    {% endfor %}
                    {% for rr in employee.rr %}
                    <td>{{rr.rrdata}}</td>
                    {% endfor %}
                    {% for hb in employee.hb %}
                    <td>{{hb.hbdata}}</td>
                    {% endfor %}
                    
                  </tr>

                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    seriesdata = [
          [70, 72, 74, 68, 65, 68, 71],
          [30, 28, 26, 32, 35, 32, 29]
        ];
        YearlyVisualization = {
          YearlySeries :[
            [70,60,75,80,72,73,74,80,72,68,66,70],
            [30, 40, 25, 20, 28, 27, 26, 20, 28, 32, 34, 30]
          ],
        };
        diabetesData = [
          [130, 200, 180, 170, 190, 150, 120, 190]
        ];
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
